section{
    height: 1200px;
    width: 75vw;
    border: 2px solid red;
}

h1{
    font-size: 4rem;
    color: aqua;
    border: 4px solid yellow;
}

p{
    font-style: italic;
    color: blueviolet;
}



@media screen and (max-width:700px) {
    h1{
        font-size: 2rem;
        border: 2px dashed red;
        color: chartreuse;
    }
}

@media screen and (max-width:700px) { 
    p{
        color: blueviolet;
        font-style: oblique;
    }
    
}