ul{
    display: flex;
    height: 6rem;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
}
li{
    border: 2px solid red;
    font-size: 2rem;
    font-style: italic;
    /* padding-top: 23px; */
    list-style: none;
    
}
ul img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
@media screen and (max-width:700px) {    
    ul{
        font-size: 1.2rem;
        flex-direction: column;
        height: 25rem;
    }
}